@charset "utf-8";
/* CSS Document - News - 03.01.2016 - TJD */

@media (max-width: 751px) {

	#dept-top-nav > ul > li.dropdown > ul.dropdown-menu {
		background-color: #fff !important;
	}

}

@media (min-width: 751px) and (max-width: 974px) {
	#dept-top-nav > ul > li > a {
		min-height: 110px;
	}
}

@media (min-width: 432px) and (max-width: 750px) {

}

@media (min-width: 450px) and (max-width: 991px) {

}

@media (min-width: 992px) {
	.brown-bg-color {
		background-color: #d9cec1;
	}

	.gray-bg-color {
		background-color: #CECAC6;
	}

	.navbar-no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

	#dept-nav li a {
		min-height: 70px;
	}

	.dropdown-menu li a {
		min-height: 45px !important;
	}
}

ul li span  {
	font-size: 1.0em !important;
	font-weight: bold;
}

.brown-panel {
	background-color: #e5d8c9;
	border-radius: 3px;
}

.brown-panel > div.panel-heading {
	/*background-color: #850511;*/
	/*background-color: #BFB2A3;*/
	background-color: #e5d8c9;
	border-color: #e5d8c9;
	border-radius: 3px;
}

.brown-panel > div.panel-heading > h3 {
	color: #333;
	font-size: 1.6em;
}

.brown-panel > div.panel-body {
	background-color: #e5d8c9;
}


.gray-panel {
	border-color: #cecac6;
	border-radius: 0px;
}

.gray-panel > div.panel-heading {
	/*background-color: #850511;*/
	background-color: #cecac6;
	border-color: #cecac6;
	border-radius: 0px;
}

.gray-panel > div.panel-heading > h3 {
	color: #333;
	font-size: 1.6em;
}

.gray-panel > div.panel-body {
	background-color: #cecac6;
}

.brown-btn {
	background-color: #aa9279;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 1.4em;
    margin-bottom: 15px;
    width: 100%;
}

.brown-btn:hover {
	background-color: #a99e92 !important;
    color: #fff;
}

.apply-icon {
	color: #fff;
	font-size: 1.3em;
	position: relative;
	top: 2px;
	padding-left: 5px;
}

.featured-list {
  font-size:1.2em;
  font-weight:bold;
}

.featured-list > li > span {
	top: 7px;
}

#ged > ul > li > span {
	top: 5px;
}

#left-navigation > li > a {
	display: flex;
}

#left-navigation > li > div {
	position: relative;
}

#left-navigation > li > a > div {
	position: absolute; top: 50%;
}

.img-thumbnail {
	margin-right: 15px;
	border: 1px solid #bfb2a3;
}

.lpc-list span {
	top: 5px;
}